# Python
__pycache__/
.pytest_cache/
*.pyc
.venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Environment files
.env
.env.*

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Terraform local configuration and state
*.tfvars
*.tfvars.json
*.tfstate
*.tfstate.*
.terraform/
crash.log
crash.*.log